:root{
    font-family: 'Times New Roman', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif;
    overflow: visible;
    color: white;
}

* {
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    z-index: 0;
    height: 95vh;
    justify-content: center;
}

.background{
    background-color: black;
    z-index: -1;
}

.dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 200s ease-in-out infinite;
    z-index: -1;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

#navBar{
    size: 20px;
    background-color: black;
    text-align: center;
    padding: 5px;
    /*border: solid 3px rgba(68, 68, 82, 0.632);
    border-radius: 10px;*/
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.navLink{
    color: white;
    text-decoration: none;
    border: solid 4px transparent;
    border-radius: 8px;
    padding: 0 3px;
    margin: 0 6px;
    background-color: rgba(255, 255, 255, 0.125);
    transition: 0.2s;
    box-shadow: 0 0 4px 3px rgba(199, 199, 199, 0.819);
}

.navLink:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.69);
}

.container{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 98vw; 
    height: 85vh;
    padding: 20px; 
    overflow: hidden; 
    border: solid 10px black;
    border-radius: 30px;
    flex: 1;
    margin: 20px auto 0 auto;
    overflow-wrap: break-word; 
}

.subContainer{
    border: solid 1px transparent;
    border-radius: 0;
    margin: 0 auto;
}

#mainContentContainer{
    box-shadow: 0 0 5px 5px rgba(182, 176, 176, 0.5), 0 0 10px 5px rgba(255, 255, 255, 0.5) inset;
}

#mainTextContainer{
    flex: 1 1 75%;
    height: 95%;
    margin: 0;
    justify-content: center;
}

#subTextContainer{
    --text-container-dark-shadow-color: rgba(170, 20, 3, 0.419);
    --text-container-light-shadow-color: rgba(139, 34, 11, 0.8);
    position: relative;
    flex: 1 1;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    box-shadow: 10px 10px 15px var(--text-container-light-shadow-color), 10px 10px 15px var(--text-container-light-shadow-color) inset, -10px -10px 20px 1px var(--text-container-dark-shadow-color), -10px -10px 20px 1px var(--text-container-dark-shadow-color) inset;
    animation: spinShadowMainContainer 10s linear infinite;
}

/* box-shadow: h-offset v-offset blur-radius spread-radius color inset; */

@keyframes spinShadowMainContainer {
    0% {
        box-shadow: 10px 10px 15px var(--text-container-light-shadow-color), -10px -10px 20px 1px var(--text-container-dark-shadow-color), 10px 10px 15px var(--text-container-light-shadow-color) inset, -10px -10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
    25% {
        box-shadow: -10px 10px 15px var(--text-container-light-shadow-color), 10px -10px 20px 1px var(--text-container-dark-shadow-color), -10px 10px 15px var(--text-container-light-shadow-color) inset, 10px -10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
    50% {
        box-shadow: -10px -10px 15px var(--text-container-light-shadow-color), 10px 10px 20px 1px var(--text-container-dark-shadow-color), -10px -10px 15px var(--text-container-light-shadow-color) inset, 10px 10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
    75% {
        box-shadow: 10px -10px 15px var(--text-container-light-shadow-color), -10px 10px 20px 1px var(--text-container-dark-shadow-color), 10px -10px 15px var(--text-container-light-shadow-color) inset, -10px 10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
    100% {
        box-shadow: 10px 10px 15px var(--text-container-light-shadow-color), -10px -10px 20px 1px var(--text-container-dark-shadow-color), 10px 10px 15px var(--text-container-light-shadow-color) inset, -10px -10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
}

/* text-shadow: offset-x offset-y blur-radius color; */

#referatTextContainer{
    display: flex;
    position: absolute;
    top: -2%;
    margin: 12% 6% 12% 12%;
    min-height: 55%;
    max-width: 75%;
    max-height: 55%;
    overflow-y: auto;
    /*text-shadow: 0px 0px 15px red;*/
    text-align: justify;
    padding: 10px;
}

#referatTextContainer::-webkit-scrollbar{
    width: 3px;
}

#referatTextContainer::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0)
}

#referatTextContainer::-webkit-scrollbar-thumb {
    background: #6e6e6e; /* Thumb (scroll handle) color */
    border-radius: 0%;
}
  
#referatTextContainer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
}

#referatText{
    color: white;
}

#buttonArea{
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    flex: 1 1 25%;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.textChangeButton{
    position: relative;
    width: 80%;
    height: 70%;
    background: none;
    padding: 0;
    color: white;
    text-shadow: 
        2px 2px 5px black,  /* Bottom right */
        -2px -2px 5px black, /* Top left */
        2px -2px 5px black, /* Top right */
        -2px 2px 5px black; /* Bottom left */
    border: solid 1px transparent;
    border-radius: 100%;
    box-shadow: 0 0 10px 2px var(--random-shadow-color);
    overflow: hidden;
    /*animation: spinShadow 10s linear infinite;*/
    transition: 0.2s ease-in-out;
    background-color: green, blue, orange, cyan, lightblue, white, purple;
    overflow: auto;
}
/*
@keyframes spinShadow {
    0%, 100% {
        box-shadow: 0 0 10px 2px var(--random-shadow-color);
    }
    50% {
        box-shadow: 0 0 10px 8px var(--random-shadow-color);
    }
}
*/

.textChangeButton:hover{
    background-color: var(--random-shadow-color);
    transform: scale(1.1);
}

.textChangeButton:active{
    transform: scale(1);
}

#massCalculatorOpenButton{
    --random-shadow-color: rgb(228, 22, 22);
    position: absolute;
    color: white;
    top: 70%;
    left: 40%;
    max-width: 20%;
    max-height: 20%;
    width: 20%;
    height: 60%;
    border: solid 2px transparent;
    border-radius: 15px 15px 30px 30px;
    box-shadow: 0 0 5px 2px var(--random-shadow-color);
}



#massCalculatorBackCover{
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    display: flexbox;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
}

#massCalculatorContainer{
    display: flexbox;
    height: 30%;
    width: 30%;
    position: fixed;
    top: 35%;
    left: 35%;
    z-index: 2;
    border: solid white 2px;
    border-radius: 10px;
}

#massCalculatorCloseButton {
  position: absolute;
  top: 2%;
  right: 1%;
  width: 50px; /* Size of the button */
  height: 50px;
  background-color: transparent; /* Transparent background */
  cursor: pointer;
  outline: none; /* Remove focus outline */
  transform: rotate(45deg);
  border: transparent;
}

/* Horizontal line of the cross */
#massCalculatorCloseButton::before,
#massCalculatorCloseButton::after {
  content: '';
  position: absolute;
  background-color: #ffffff; /* Color of the cross */
  border-radius: 4px; /* Optional rounded edges for the cross */
}

/* Horizontal line */
#massCalculatorCloseButton::before {
  width: 80%; /* Width of the cross bar */
  height: 6px; /* Thickness of the cross bar */
  top: 50%; /* Center vertically */
  left: 10%; /* Center horizontally */
  transform: translateY(-50%);
}

/* Vertical line */
#massCalculatorCloseButton::after {
  width: 6px; /* Thickness of the cross bar */
  height: 80%; /* Height of the cross bar */
  top: 10%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}

#massCalculatorCloseButton:hover::before,
#massCalculatorCloseButton:hover::after {
  background-color: rgb(150, 150, 150); /* Color of the cross */
}

#massCalculatorUsedValues{
    margin: 5px 0 0 5px;
    color: white;
    font-size: 20px;
    background: fixed;
}

#massCalculatorUserInput{
    background: rgba(255, 255, 255, 1);
    border: solid 3px rgb(255, 255, 255);
    border-radius: 10px 0 10px 0;
    display: flexbox;
    width: 40%;
    height: 16%;
    position: absolute;
    top: 44%;
    left: 10%;
    color: black;
    margin-right: 0;
}

#massCalculatorUserInputSubmitButton{
    --random-shadow-color: rgb(224, 48, 48);
    position: absolute;
    border-radius: 0 10px 0 10px;
    width: 16%;
    height: 14%;
    right: 30%;
    top: 45%;
    margin-left: 0;
}

#massCalculatorRadiusOutput{
    margin: 0;
    padding: 3px;
    border: solid 2px white;
    border-radius: 10px 0 10px 0;
    position: absolute;
    width: 40%;
    height: fit-content;
    left: 10%;
    top: 65%;
    text-align: center;
}

#formulaContainer{
    color: white;
    position: relative;
    top: 10%;
    left: -39%;
}

#leftSideContainer{
    font-size: 110%;
    position: absolute;
    top: 47.5%;
    left: -120%;
}

.fracNumerator{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.fracDenominator{
    border-top: 1px solid;
    width: 100%;
    text-align: center;
}