:root{
    font-family: 'Times New Roman', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif;
    overflow: visible;
    color: white;
}

* {
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    z-index: 0;
    height: 95vh;
    justify-content: center;
}

.background{
    background-color: black;
    z-index: -1;
}

.dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 200s ease-in-out infinite;
    z-index: -1;
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

#navBar{
    size: 20px;
    background-color: black;
    text-align: center;
    padding: 5px;
    /*border: solid 3px rgba(68, 68, 82, 0.632);
    border-radius: 10px;*/
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.navLink{
    color: white;
    text-decoration: none;
    border: solid 4px transparent;
    border-radius: 8px;
    padding: 0 3px;
    margin: 0 6px;
    background-color: rgba(255, 255, 255, 0.125);
    transition: 0.2s;
    box-shadow: 0 0 10px 5px rgba(190, 180, 180, 0.819);
}

.navLink:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.69);
}

.container{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 98vw; 
    height: 85vh;
    padding: 20px; 
    overflow: hidden; 
    border: solid 10px black;
    border-radius: 30px;
    flex: 1;
    margin: 20px auto 0 auto;
    overflow-wrap: break-word; 
}

.subContainer{
    border: solid 1px transparent;
    border-radius: 0;
    margin: 0 auto;
}

#mainContentContainer{
    box-shadow: 0 0 5px 5px rgba(182, 176, 176, 0.5), 0 0 20px 5px rgba(255, 255, 255, 0.5) inset;
}

#mainTextContainer{
    flex: 1 1 75%;
    height: 95%;
    margin: 0;
    justify-content: center;
}

#subTextContainer{
    --text-container-dark-shadow-color: rgba(170, 20, 3, 0.419);
    --text-container-light-shadow-color: rgba(144, 37, 7, 0.8);
    position: relative;
    flex: 1 1;
    border-radius: 50%;
    box-shadow: 10px 10px 15px var(--text-container-light-shadow-color), 10px 10px 15px var(--text-container-light-shadow-color) inset, -10px -10px 20px 1px var(--text-container-dark-shadow-color), -10px -10px 20px 1px var(--text-container-dark-shadow-color) inset;
    animation: spinShadowMainContainer 10s linear infinite;
}



/* box-shadow: h-offset v-offset blur-radius spread-radius color inset; */

@keyframes spinShadowMainContainer {
    0% {
        box-shadow: 10px 10px 15px var(--text-container-light-shadow-color), -10px -10px 20px 1px var(--text-container-dark-shadow-color), 10px 10px 15px var(--text-container-light-shadow-color) inset, -10px -10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
    25% {
        box-shadow: -10px 10px 15px var(--text-container-light-shadow-color), 10px -10px 20px 1px var(--text-container-dark-shadow-color), -10px 10px 15px var(--text-container-light-shadow-color) inset, 10px -10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
    50% {
        box-shadow: -10px -10px 15px var(--text-container-light-shadow-color), 10px 10px 20px 1px var(--text-container-dark-shadow-color), -10px -10px 15px var(--text-container-light-shadow-color) inset, 10px 10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
    75% {
        box-shadow: 10px -10px 15px var(--text-container-light-shadow-color), -10px 10px 20px 1px var(--text-container-dark-shadow-color), 10px -10px 15px var(--text-container-light-shadow-color) inset, -10px 10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
    100% {
        box-shadow: 10px 10px 15px var(--text-container-light-shadow-color), -10px -10px 20px 1px var(--text-container-dark-shadow-color), 10px 10px 15px var(--text-container-light-shadow-color) inset, -10px -10px 20px 1px var(--text-container-dark-shadow-color) inset;
    }
}

/* text-shadow: offset-x offset-y blur-radius color; */

#referatText{
    display: flex;
    position: absolute;
    /*top: 16%;
    left: 18%;*/
    margin: 12% 6% 12% 12%;
    max-width: 75%;
    max-height: 55%;
    overflow-y: auto;
    text-shadow: 0px 0px 15px red;
}

#referatText::-webkit-scrollbar{
    width: 10px;
}

#referatText::-webkit-scrollbar-track{
    background: #999999
}

#referatText::-webkit-scrollbar-thumb {
    background: #6e6e6e; /* Thumb (scroll handle) color */
    border-radius: 20%; /* Rounded corners for the thumb */
}
  
#referatText::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
}

#buttonArea{
    display: grid;
    grid-template-columns: repeat(2, minmax(1px, 1fr));
    flex: 1 1 25%;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.textChangeButton{
    position: relative;
    width: 80%;
    height: 70%;
    background: none;
    color: white;
    border: solid 1px transparent;
    border-radius: 100%;
    box-shadow: 0 0 10px 2px var(--random-shadow-color);
    overflow: hidden;
    animation: spinShadow 10s linear infinite;
    background-color: green, blue, orange, cyan, lightblue, white, purple;
}

@keyframes spinShadow {
    0%, 100% {
        box-shadow: 0 0 10px 2px var(--random-shadow-color);
    }
    50% {
        box-shadow: 0 0 10px 8px var(--random-shadow-color);
    }
}